#login {
    height: 100vh;
    position: absolute;
    
    #loginDiv {
        vertical-align: middle;
        display: inline-block;
        height: 50%;
        position: absolute;
        top: 0;
        bottom: 0%;
        margin: auto;
    }
}